services:
  usv:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: fundunz/usv:orin-zed-v5.2
    container_name: usv_dev_container
    
    # Critical for Jetson Hardware Access
    network_mode: host
    privileged: true
    runtime: nvidia
    
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      
    volumes:
      # Mount your local 'src' folder into the container's workspace
      # This allows you to edit code on your laptop and run it inside Docker instantly.
      - ./src:/home/ubuntu/ros2_ws/src
      
      # Graphic & Hardware mapping
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /dev:/dev
      
    # Keep container alive so we can enter it
    command: tail -f /dev/null