arlpy==1.9.1
casadi==3.6.7
catkin-pkg==1.0.0
empy==3.3.4
geopandas==1.0.1
geopy==2.4.1
latex==0.7.0
matplotlib==3.8.4
numba==0.60.0
numpy==1.26.4
openmeteo-requests==1.5.0
pandas==2.2.2
pybuoy==0.4.3
pymongo==4.15.0
requests-cache==1.2.1
retry_requests==2.0.0
schema==0.7.7
scikit-learn==1.5.2
scipy==1.13.1
zipp==3.19.1
